@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == file-play {
		$char: "\E001";
	}
	@if $filename == file-video {
		$char: "\E002";
	}
	@if $filename == file-zip {
		$char: "\E003";
	}
	@if $filename == home {
		$char: "\E004";
	}
	@if $filename == home2 {
		$char: "\E005";
	}
	@if $filename == home3 {
		$char: "\E006";
	}
	@if $filename == newspaper {
		$char: "\E007";
	}
	@if $filename == office {
		$char: "\E008";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-file-play {
	@include icon(file-play);
}
.icon-file-video {
	@include icon(file-video);
}
.icon-file-zip {
	@include icon(file-zip);
}
.icon-home {
	@include icon(home);
}
.icon-home2 {
	@include icon(home2);
}
.icon-home3 {
	@include icon(home3);
}
.icon-newspaper {
	@include icon(newspaper);
}
.icon-office {
	@include icon(office);
}
