$button-default-color     : map-get($color-grey, '800');
$button-primary-color     : map-get($color-blue, '400');
$button-danger-color      : map-get($color-red, '600');
$button-warning-color     : map-get($color-orange, '400');
$button-disabled-color    : map-get($color-grey, '500');

$button-blue              : map-get($color-light-blue, '400');
$button-red               : map-get($color-red, '300');
$button-green             : map-get($color-green, '300');
$button-yellow            : map-get($color-orange, '300');

$button-default-background: rgba(map-get($color-grey, '0'), 0);
$button-background        : map-get($color-grey, '100');
$button-raised-background : map-get($color-grey, '200');

$ripple-default           : rgba(map-get($color-grey, '0'), 0.5);
$ripple-blue              : rgba(map-get($color-light-blue, '100'), 0.3);
$ripple-yellow            : rgba(map-get($color-yellow, '100'), 0.3);
$ripple-pink              : rgba(map-get($color-pink, '100'), 0.3);
$ripple-red               : rgba(map-get($color-red, '100'), 0.3);
$ripple-white             : rgba(map-get($color-grey, '0'), 0.3);
$ripple-black             : rgba(map-get($color-grey, '1000'), 0.1);

$white                    : map-get($color-grey, '0');
$grey                     : map-get($color-grey, '400');
$red                      : map-get($color-red, '400');
$blue                     : map-get($color-light-blue, '400');
$light-grey               : map-get($color-grey, '200');
$dark-grey                : map-get($color-grey, '600');

$content-color            : map-get($color-grey, '700');


$size-base                : 10px;
$size-normal              : 14px;
$size-small               : 10px;
$size-xsmall              : 8px;
$size-medium              : 16px;
$size-large               : 18px;
$size-xlarge              : 26px;
$size-xxlarge             : 40px;


$shadow-1                 : 0px 2px 5px rgba(0,0,0,0.4);
$shadow-2                 : 0px 8px 17px rgba(0,0,0,0.2);
$shadow-3                 : 0px 17px 50px rgba(0,0,0,0.19);
$shadow-4                 : 0px 16px 28px 0 rgba(0,0,0,0.22);
$shadow-5                 : 0px 27px 24px 0 rgba(0,0,0,0.2);