@import 'vars/sprite';
@import 'vars/color';
@import 'vars/variable';

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    color: $content-color;
    font-family: 'Microsoft YAHEI';
    button {
        background: $button-blue;
        color: $white;
        border-radius: 4px;
        border: none;
        padding: 10px;
    }
}

.wrapper {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.weibo {
    @include sprite($weibo);
}

.wechat {
    @include sprite($wechat);
}

.qzone {
    @include sprite($video);
}
.icon {
    display: inline-block;
}

.inline-block .item {
    width: 100px;
    display: inline-block;
    height: 50px;
    background: $blue;
}