@import 'sprite';

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Microsoft YAHEI';
    button {
        background: #fcc;
        border: none;
        padding: 10px;
    }
}

.wrapper {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.weibo {
    @include sprite($weibo);
}

.wechat {
    @include sprite($wechat);
}

.qzone {
    @include sprite($video);
}