doctype html
html(lang='en', ng-app='app')
    head
        meta(charset='UTF-8')/
        title Angular.js Demo
        meta(name='viewport', content='initial-scale=1.0,width=device-width,user-scalable=no')/

        // build:css styles/app.min.css
        // styles:js
        // endinject
        // endbuild
    body(ng-controller='ctrl')
        .wrapper
            button(ng-click='clickButton()') something
            p this is a p tag
            div this is another tag
            #duplicate this is another div
            div {{content}}
            .weibo.icon
            .wechat.icon
            .qzone.icon
            span.icon-home
            span.icon-home2
            span.icon-clubs
            span.icon-file-zip
            span.icon-file-play
            span.icon-file-video
            .inline-block
                .item
                .item
                .item
            div(style='height:1000px') this is long content


        // build:js scripts/app.min.js
        // bower:js
        // endinject

        // scripts:js
        // endinject
        // endbuild