doctype html
html(lang='en')
    head
        meta(charset='UTF-8')/
        title module page
        // build:css styles/module.min.css
        // styles:js
        // endinject
        // endbuild
    body
        div module page

        // build:js scripts/module.min.js
        // bower:js
        // endinject

        // scripts:js
        // endinject
        // endbuild